#root {
  /* margin: 0 auto;

  min-width: 100vw; */
  /* margin-left: 1.5%; */
 /* width: 89%;  */
  min-width: 3vw;
}
.app-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}


.app-title{
  font-size: 72px;
  margin-top: 2px;
  margin-bottom: 10px;
  color: #c00cca;
  font-family: "Rubik Gemstones", system-ui;
}