:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 body{
    background: linear-gradient(
    to left,
    rgb(45, 4, 41) 0%,
    rgb(128, 0, 128) 100%
  );
 }
